# Rubbish files from Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

unused_bilder
attic
Heart_of_the_Ocean/media/gallery/old_avifs
blog/2023/attic.xml
resize_them.sh
shop/Cups/media/check_them_out.sh
shop/Cups/media/front_grid/git_rm_all.sh
media/attic
shop/Corals/media/gallery_*
shop/Disaster_under_Water/media/gallery_light/
shop/media/Coral1_left.JPG
shop/media/Coral1_left.avif
shop/media/Coral1_left_1000x1000.JPG
shop/media/Coral1_left_1000x1000.avif
shop/media/Disaster_under_Water_back_medium_br.JPG
shop/media/Disaster_under_Water_back_medium_br.avif
