# Rubbish files from Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
node_modules
package-lock.json

unused_bilder
attic

# Old cruft on home computer
media/E3D_front_image.png
media/HP2.jpeg
media/HP4.jpeg
media/HP4_small.avif
media/HP4_small.jpeg
media/Hangprinter_4_meter_tower.jpg
media/Hangprinter_4_meter_tower_small.avif
media/Hangprinter_4_meter_tower_small.jpg
media/coffee_table.jpeg
media/coral.jpg
media/coral_being_printed.jpg
media/dressed_up.jpeg
media/dressed_up_cropped.jpeg
media/dressed_up_small.avif
media/dressed_up_small.jpeg
media/face.jpg
media/frame_im_talkin_about_rot.jpeg
media/frame_im_talkin_about_rot_small.avif
media/frame_im_talkin_about_rot_small.jpeg
media/happy.jpeg
media/happy_small.avif
media/happy_small.jpeg
media/in_action_rome_2017.jpeg
media/in_action_rome_2017_small.avif
media/in_action_rome_2017_small.jpeg
media/in_good_company_2.jpeg
media/in_good_company_2_small.avif
media/in_good_company_2_small.jpeg
media/in_good_company_3.jpeg
media/in_good_company_4.jpeg
media/in_good_company_5.jpeg
media/in_good_company_6.jpeg
media/in_good_company_7.jpeg
media/in_good_company_7_fix.jpeg
media/in_good_company_7_fix2.jpeg
media/in_good_company_7_fix_small.avif
media/in_good_company_7_fix_small.jpeg
media/in_good_company_at_E3D.jpeg
media/intense_babysitting.jpeg
media/one_m_cylinder.jpeg
media/one_m_cylinder_2.jpeg
media/print_quality.jpeg
media/printing_a_chair_shell.jpeg
media/tall_tower_by_johan_gunseus.jpeg
media/tall_tower_by_johan_gunseus_small.avif
media/tall_tower_by_johan_gunseus_small.jpeg
media/tallest_HP4.jpeg
blog/2022/bilder/communication_polkadot_and_kusama_separate2.xcf
blog/2022/bilder/communication_polkadot_and_kusama_separate3.xcf
blog/2022/bilder/communication_polkadot_and_kusama_separate5.xcf
blog/2022/bilder/communication_polkadot_and_kusama_separate5_dotbridge.xcf
blog/2022/bilder/communication_polkadot_and_kusama_separate5_nobridge.xcf
blog/2022/bilder/communication_polkadot_and_kusama_separate5_nobridge2.xcf
blog/2022/bilder/communication_polkadot_and_kusama_separate5_nobridge_noxcmplite.xcf
blog/2022/polkadot_fellowship_critique
Heart_of_the_Ocean/media/gallery/old_avifs/
