# Rubbish files from Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

unused_bilder
attic
Heart_of_the_Ocean/media/gallery/old_avifs
blog/2023/attic.xml
resize_them.sh
shop/Cups/media/check_them_out.sh
shop/Cups/media/front_grid/git_rm_all.sh

