@font-face {
	font-family: open-sans;
	src: url(OpenSansRegular.woff);
}

/* #2 Italic Style */
@font-face {
	font-family: open-sans;
	font-style: italic;
	font-weight: normal;
	src: url(OpenSansItalic.woff);
}

/* #3 Bold Weight */
@font-face {
	font-family: open-sans;
	font-style: normal;
	font-weight: bold;
	src: url(OpenSansBold.woff);
}

/* #4 Bold Italic Style */
@font-face {
	font-family: open-sans;
	font-style: italic;
	font-weight: bold;
	src: url("OpenSansBoldItalic.woff");
}

*:not(code) {
	font-family: open-sans;
}

.background-container {
  display: flex;
  flex-direction: column;
}

.full-screen-background {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  height: 100%;
}

#background-1 {
  background-image: url('./media/Heart_of_the_Ocean_1_cropped.png');
  background-position: 70% 70%;
  --highlight-width-ratio: 0.42;
  --highlight-height-ratio: 0.33;
  --highlight-left-position-ratio: 0.43;
  --highlight-top-position-ratio: 0.41;
}

#background-2 {
  background-image: url('./media/art2_cropped.jpg');
  background-position: 50% 50%;
  --highlight-width-ratio: 0.23;
  --highlight-height-ratio: 0.22;
  --highlight-left-position-ratio: 0.40;
  --highlight-top-position-ratio: 0.40;
}

.text-with-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.5);
}

.text-with-background {
  display: inline-block;
  padding: 0.25em 0.5em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  /*border-radius: calc(0.25rem - 1px);*/
}

.dotted-line {
  position: absolute;
  border: 0;
 /* border-top: 4px dotted grey;
  border-left: 4px dotted grey;
  border-bottom: 4px dotted grey;
  border-right: 4px dotted grey;
  border-radius: 5rem;*/
}

.positioned-content {
  position: absolute;
  color: #ffffff;
}

@media screen and (min-width: 620px) {
  .top-left {
    top: 10%;
    left: 10%;
  }

  .top-right {
    top: 10%;
    right: 10%;
  }

  .bottom-left {
    bottom: 10%;
    left: 10%;
  }

  .bottom-right {
    bottom: 10%;
    right: 10%;
  }
}

@media screen and (max-width: 619px) {
  .top-left {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .top-right {
    top: 10%;
    right: 50%;
    transform: translateX(-50%);
  }

  .bottom-left {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  .bottom-right {
    bottom: 10%;
    right: 50%;
    transform: translateX(50%);
  }
}

.overlay {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transparent-nav {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.transparent-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.transparent-nav a {
  color: #ffffff;
  text-decoration: none;
}

.transparent-nav li {
  list-style: none;
}

.navbar-left {
  position: absolute;
  left: 0;
}

@media screen and (max-width: 680px) {
  .navbar-left {
    flex-basis: 100%;
    text-align: center;
    position: static;
  }

  .transparent-nav ul li a {
    justify-content: center;
  }

  .transparent-nav ul {
    justify-content: center;
  }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.transparent-nav .dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgba(0.1, 0.1, 0.1, 0.5);}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.centered-content {
  text-align: center;
  color: #ffffff;
  /* Add other text styles as needed */
}

html {
  overflow-x: hidden;
}

body {
	margin:0;
	background-color:white;
	color:rgb(48,66,76);
  overflow-x: hidden;
}

#SiteName {
	position:relative;
	text-align:left;
	margin: 0 auto;
	top:10px;
	line-height:1;
	width:600px;
	max-width:93%;
	height:auto;
	z-index:2;
	font-size:29px;
}
.left {
	height:46px;
}
h1 {
	font-weight:normal;
	font-size:22px;
	margin-bottom: 0px;
}
h2 {
	font-weight:normal;
}
h3 {
	font-weight:normal;
	margin-top:40px;
}
h4 {
	font-weight:normal;
	margin-top:10px;
	margin-bottom:2px;
	font-style:italic;
}
.date {
	color:rgb(160,160,160);
	line-height: 100%;
	margin-bottom: 10px;
}
#MainContent {
	position:relative;
	top:15px;
	max-width:93%;
	width:600px;
	margin:0px auto;
	z-index:6;
	font-size:15px;
	line-height:150%;
	color:#30424c;
}

@media screen and (max-height: 760px) {
	#MainContent.notop {
		top:0px;
	}
	#MainContent.notop2 {
		top:30px;
	}
}

img{
	height:auto;
	max-width:100%;
	border-radius:11px;
}
video {
	height:auto;
	max-width:100%;
	border-radius:11px;
}
figure{
	max-width:100%;
	margin-top:30px;
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	width:500px;
	max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius:11px;
}
#FrontPageMain {
	position:relative;
	width:600px;
	margin:0px auto;
	max-width:93%;
}
#FrontPageMain h1 {
	text-align:center;
	font-size:29px;
}
#FrontPageMain h2 {
	text-align:center;
	font-size:20px;
	margin:10px auto;
	color:#777d8f;
}
#FrontPageMain h3 {
	text-align:center;
	font-weight:normal;
	font-size:15px;
	max-width:60%;
	margin-left:auto;
	margin-right:auto;
}

.front-image {
	display:flex;
	align-items: center;
	margin-top:30%;
	width:200px;
	height:auto;
	max-width:57%;
	border-radius:50%;
	margin-left:auto;
	margin-right:auto;
}

.about-image {
	display:flex;
	align-items: center;
	width:500px;
	max-width:90%;
	height:auto;
	border-radius:25px;
	margin-left:auto;
	margin-right:auto;
}

table {
	border-spacing:0px 50px;
}

td a{
  text-decoration:none;
}

@media screen and (max-width: 430px) {
	td {
		display:block;
	}
}

@media screen and (min-width: 431px) {
	.center-if-wide {
		text-align:center;
	}
	.right-if-wide {
		text-align:right;
	}
}

@media screen and (max-height: 760px) {
	.front-image {
		margin-top:10%;
	}
}

nav {
	display:block;
	text-align:center;
	background-color: white;
	padding: 0;
}

nav ul {
	list-style:none;
	padding:0;
}

nav ul li {
	display:inline-block;
}

/* Style the links inside the navigation bar */
nav ul li a {
	display: flex;
	padding: 14px;
	text-decoration: none;
	font-size: 17px;
	color:rgb(48,66,76);
}

@media screen and (max-width: 400px) {
  nav ul li a {
    padding: 7px; /* Reduce padding */
    font-size: 14px; /* Reduce font size */
  }
}

/* Change the color and weight of links on hover */
nav ul li:hover a {
	color:rgb(119, 125, 143);
}

/* Add an active class to highlight the current page */
nav a.active {
	color:rgb(244, 151, 108);
}

.links-container {
	margin:0px 32px 0px 32px;
	display:flex;
	font-size:35px;
	justify-content:space-between;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.artwork-title-link {
	text-decoration: none;
	padding: 0px 0px 0px 0px;
	color: #333;
	font-size: 1.25rem;
	white-space: nowrap;
	display: inline-block;
	position: relative;
}

h5.card-title2::before,
h5.card-title2::after {
	content: '';
	display: inline;
	position: absolute;
	height: 100%;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-radius: 5px 0 0 5px;
}

h5.card-title2::before {
	border-width: 1px 0px 1px 1px;
	width: 5px;
	left: -15px;
}

h5.card-title2::after {
	border-width: 1px 1px 1px 0px;
	width: 5px;
	right: -15px;
	border-radius: 0 5px 5px 0;
}

h5.card-title2:hover{
	text-decoration: none;
	color: #333;
	background-color: rgba(0, 0, 0, 0.1);
	border-color: rgba(0, 0, 0, 0.2);
	border-width: 1px 1px 1px 1px;
}

.card {
	margin-bottom: 1rem;
}

.hover-text {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-40%, -50%);
    color: rgba(255, 255, 255, 0.8);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 80%;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.card:hover .hover-text {
    opacity: 1;
}

.sale-label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 10px;
	background-color:rgb(224, 123, 0); /* A darker darkorange, which is (255, 140, 0) */
	color: white;
	font-weight: bold;
	font-size: 0.9rem;
	z-index: 1;
  border-radius: calc(0.25rem - 1px) 0 0 0;
}


.text-below-line {
  position: absolute;
  color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  max-width: 100%;
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 525px) {
  .text-below-line {
    font-size: 40px;
  }
}

@media screen and (max-width: 524px) {
  .text-below-line {
    left: 50%;
    transform: translateX(-50%);
    font-size: 28px;
  }
}

/* Change the color and weight of links on hover */
a .text-below-line:hover {
	color:rgb(119, 125, 143);
}

.text-below-line-hover {
	color:rgb(119, 125, 143);
}

.scroll-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7); /* Adjust the last value (0.7) to set the desired transparency */
  mix-blend-mode: difference; /* This property will create an inverted color effect */
  cursor: pointer;
  animation: arrow-float 2s infinite;
  z-index: 100; /* Always on top */
}

.scroll-arrow:hover {
  color: rgba(255, 255, 255, 1); /* Full opacity on hover */
}

.scroll-down-arrow {
  bottom: 30px;
}

.scroll-up-arrow {
  top: 30px;
}

@keyframes arrow-float {
  0%, 100% {
    transform: translateY(0) translateX(-50%);
  }
  50% {
    transform: translateY(-10px) translateX(-50%);
  }
}
