@font-face {
	font-family: open-sans;
	src: url(OpenSansRegular.woff);
	font-display: swap;
}

/* #2 Italic Style */
@font-face {
	font-family: open-sans;
	font-style: italic;
	font-weight: normal;
	src: url(OpenSansItalic.woff);
	font-display: swap;
}

/* #3 Bold Weight */
@font-face {
	font-family: open-sans;
	font-style: normal;
	font-weight: bold;
	src: url(OpenSansBold.woff);
	font-display: swap;
}

/* #4 Bold Italic Style */
@font-face {
	font-family: open-sans;
	font-style: italic;
	font-weight: bold;
	src: url("OpenSansBoldItalic.woff");
	font-display: swap;
}

*:not(code) {
	font-family: open-sans;
}

html {
	overflow-x: hidden;
}

body {
	margin:0;
	background-color:white;
	color:rgb(48,66,76);
	overflow-x: hidden;
}


.background-container {
	display: flex;
	flex-direction: column;
}

.full-screen-background {
	position: relative;
	min-height: 100vh;
	background-size: cover;
	height: 100%;
}

#background-1 {
	background-image: url('./media/Heart_of_the_Ocean_1000x1000.png');
	background-image: -webkit-image-set(
		url("./media/Heart_of_the_Ocean_1000x1000.avif"),
		url("./media/Heart_of_the_Ocean_1000x1000.png")
	);
	background-image: image-set(
		url("./media/Heart_of_the_Ocean_1000x1000.avif") type("image/avif"),
		url("./media/Heart_of_the_Ocean_1000x1000.png") type("image/png")
	);
	background-position: 74% 70%;
	--image-width: 1000;
	--image-height: 1000;
	--highlight-width-ratio: 0.42;
	--highlight-height-ratio: 0.19;
	--highlight-left-position-ratio: 0.43;
	--highlight-top-position-ratio: 0.55;
}

#background-2 {
	background-image: url('./media/art2_cropped.jpg');
	background-image: -webkit-image-set(
		url("./media/art2_cropped.avif"),
		url("./media/art2_cropped.jpg")
	);
	background-image: image-set(
		url("./media/art2_cropped.avif") type("image/avif"),
		url("./media/art2_cropped.jpg") type("image/jpg")
	);
	background-position: 50% 50%;
	--image-width: 2047;
	--image-height: 1177;
	--highlight-width-ratio: 0.23;
	--highlight-height-ratio: 0.22;
	--highlight-left-position-ratio: 0.40;
	--highlight-top-position-ratio: 0.40;
	/* The uncropped art2.jpg wants this */
	/*--highlight-height-ratio: 0.12;
	--highlight-left-position-ratio: 0.395;
	--highlight-top-position-ratio: 0.37;*/
}

.text-with-shadow {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.5);
}

.text-with-background {
	display: inline-block;
	padding: 0.25em 0.5em;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.dotted-line {
	position: absolute;
	border: 0;
	/*
	border-top: 4px dotted grey;
	border-left: 4px dotted grey;
	border-bottom: 4px dotted grey;
	border-right: 4px dotted grey;
	border-radius: 5rem;
	*/
}

.positioned-content {
	position: absolute;
	color: #ffffff;
}

@media screen and (min-width: 620px) {
	.top-left {
		top: 10%;
		left: 10%;
	}

	.top-right {
		top: 10%;
		right: 10%;
	}

	.bottom-left {
		bottom: 10%;
		left: 10%;
	}

	.bottom-right {
		bottom: 10%;
		right: 10%;
	}
}

@media screen and (max-width: 619px) {
	.top-left {
		top: 10%;
		left: 50%;
		transform: translateX(-50%);
	}
	.top-right {
		top: 10%;
		right: 50%;
		transform: translateX(-50%);
	}

	.bottom-left {
		bottom: 10%;
		left: 50%;
		transform: translateX(-50%);
	}

	.bottom-right {
		bottom: 10%;
		right: 50%;
		transform: translateX(50%);
	}
}

nav {
	position: fixed;
	width: 100%;
	text-align: center;
	padding: 0;
}

nav.light {
	position: static;
}

nav ul {
	display: flex;
	list-style:none;
	padding:0;
}

/* Style the links inside the navigation bar */
nav ul li a {
	display: flex;
	padding: 14px;
	text-decoration: none;
	font-size: 17px;
	fill: white;
}

nav.light ul li a {
	fill: black;
}

@media screen and (max-width: 400px) {
	nav ul li a, .shopping-cart-icon {
		padding: 7px; /* Reduce padding */
		font-size: 14px; /* Reduce font size */
	}
}

nav ul li a:hover {
	color: rgb(149, 155, 173);
	fill: rgb(149, 155, 173);
}

nav.light ul li a:hover {
	color: rgb(119, 125, 143);
	fill: rgb(119, 125, 143);
}

/* Add an active class to highlight the current page */
nav a.active {
	color:rgb(244, 151, 108);
}

.links-container {
	margin:0px 32px 0px 32px;
	display:flex;
	font-size:35px;
	justify-content:space-between;
}

.transparent-nav {
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.light {
	background-color: rgba(240, 240, 240, 0.85);
}

.transparent-nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.transparent-nav a {
	color: #ffffff;
	text-decoration: none;
}

.light a {
	color: #000000;
}

.transparent-nav li {
	list-style: none;
}

.navbar-left {
	position: absolute;
	left: 0;
}

nav.light .navbar-left {
	position: static;
	flex-basis: 100%;
	justify-content: center;
}

nav.light ul li {
	order: 1;
}

nav.light ul li:last-child {
	order: 0;
}

nav.light ul li a {
	justify-content: center;
}

nav.light ul {
	justify-content: center;
}

@media screen and (max-width: 991px) {
	.navbar-left {
		flex-basis: 100%;
		text-align: center;
		position: static;
	}

	nav ul li {
		order: 1;
	}

	nav ul li:last-child {
		order: 0;
	}

	nav ul li a {
		justify-content: center;
	}

	nav ul {
		justify-content: center;
	}
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	min-width: 160px;
	z-index: 1000;
}

.light .dropdown-content {
	background-color: rgba(240, 240, 240, 0.85);
}


/* Links inside the dropdown */
.transparent-nav .dropdown-content a {
	color: #ffffff;
}

.light .dropdown-content a {
	color: #000000;
}

nav .dropdown-content a, .shopping-cart-icon {
	padding: 12px 16px;
	display: block;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	color: rgb(149, 155, 173);
}

.centered-content {
	text-align: center;
	color: #ffffff;
}

#SiteName {
	position:relative;
	text-align:left;
	margin: 0 auto;
	top:10px;
	line-height:1;
	width:600px;
	max-width:93%;
	height:auto;
	z-index:2;
	font-size:29px;
}
h1 {
	font-weight:normal;
	font-size:22px;
	margin-bottom: 0px;
}
h2 {
	font-weight:normal;
}
h3 {
	font-weight:normal;
	margin-top:40px;
}
h4 {
	font-weight:normal;
	margin-top:10px;
	margin-bottom:2px;
	font-style:italic;
}
.date {
	color:rgb(160,160,160);
	line-height: 100%;
	margin-bottom: 10px;
}
#MainContent {
	position:relative;
	top:15px;
	max-width:93%;
	width:600px;
	margin:0px auto;
	z-index:6;
	font-size:15px;
	line-height:150%;
	color:#30424c;
}

@media screen and (max-height: 760px) {
	#MainContent.notop {
		top:0px;
	}
	#MainContent.notop2 {
		top:30px;
	}
}

img{
	height:auto;
	max-width:100%;
	border-radius:4px;
}
video {
	height:auto;
	max-width:100%;
	border-radius:4px;
}
figure{
	max-width:100%;
	margin-top:30px;
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	width:500px;
	max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius:4px;
}
#FrontPageMain {
	position:relative;
	width:600px;
	margin:0px auto;
	max-width:93%;
}
#FrontPageMain h1 {
	text-align:center;
	font-size:29px;
}
#FrontPageMain h2 {
	text-align:center;
	font-size:20px;
	margin:10px auto;
	color:#777d8f;
}
#FrontPageMain h3 {
	text-align:center;
	font-weight:normal;
	font-size:15px;
	max-width:60%;
	margin-left:auto;
	margin-right:auto;
}

.about-image {
	display:flex;
	align-items: center;
	width:500px;
	max-width:90%;
	height:auto;
	border-radius:25px;
	margin-left:auto;
	margin-right:auto;
}

table {
	border-spacing:0px 50px;
}

td a{
	text-decoration:none;
}

@media screen and (max-width: 430px) {
	td {
		display:block;
	}
}

@media screen and (min-width: 431px) {
	.center-if-wide {
		text-align:center;
	}
	.right-if-wide {
		text-align:right;
	}
}

@media screen and (max-height: 760px) {
	.front-image {
		margin-top:10%;
	}
}

.text-below-line {
	position: absolute;
	color: #fff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
	max-width: 100%;
	min-width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	visibility: hidden; /* Allow javascript to place it before making it visible */
}


@media screen and (min-width: 900px) {
	.text-below-line {
		font-size: 30px;
	}
}

@media screen and (max-width: 899px) {
	.text-below-line {
		font-size: 25px;
	}
}

@media screen and (max-width: 500px) {
	.text-below-line {
		font-size: 20px;
	}
}

@media screen and (max-width: 475px) {
	.text-below-line {
		left: 50%;
		transform: translateX(-50%);
	}
}

/* Change the color and weight of links on hover */
a .text-below-line:hover {
	color: rgb(149, 155, 173);
}

.text-below-line-hover {
	color: rgb(149, 155, 173);
}

.scroll-arrow {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2em;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
	mix-blend-mode: difference;
	cursor: pointer;
	animation: arrow-float 2s infinite;
	z-index: 100;
}

.scroll-arrow:hover {
	color: rgba(255, 255, 255, 1); /* Full opacity on hover */
}

.scroll-down-arrow {
	bottom: 30px;
}

.scroll-up-arrow {
	top: 100px;
}

@keyframes arrow-float {
	0%, 100% {
		transform: translateY(0) translateX(-50%);
	}
	50% {
		transform: translateY(-10px) translateX(-50%);
	}
}

.carousel-image-container {
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	position: relative;
}

.carousel-image-container img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 0;
}

.zoomable-image:hover {
	cursor: zoom-in;
}

.shopping-cart-icon {
	position: absolute;
	right: 13px;
	top 0;
	box-sizing: content-box;
}


.shopping-cart-icon svg {
	border-radius: 0px;
	height: 1em;
	width: auto;
}

img, svg {
	vertical-align: middle;
}

.cart-icon-svg {
	margin-right: 0.1em;
}

.cart-item-count {
	vertical-align: middle;
}

.carousel-thumbnails {
	/*margin-top: 9px; Space above thumbnails */
	margin-top: var(--bs-gutter-x);
	padding: 0;
}

.carousel-thumbnails img {
	width: 100%;
	height: 60%;
	object-fit: cover;
	cursor: pointer;
	border-radius: 0;
	transition: transform .1s; /* Animation */
}

.carousel-thumbnails img:hover {
	transform: scale(1.04); /* Slightly larger on hover */
}

@media (pointer: coarse) and (hover: none) {
	.carousel-item {
		will-change: opacity;
	}
}

.product-name-right-column {
	margin-bottom: 20px;
	text-align: left;
}

.product-name-top {
	margin-bottom: 20px;
	text-align: center;
}
