/* Color stuff */
:root {
	/* Themes */
	/* Based on front page image */
	--eerie-black: rgba(24, 24, 24, 1);
	--raw-umber: rgba(163, 98, 47, 1);
	--fawn: rgba(231, 166, 112, 1);
	--dodger-blue: rgba(38, 146, 254, 1);
	--atomic-tangerine: rgba(250, 156, 125, 1);
	--papaya-whip: rgba(251, 235, 202, 1);
	--beige: rgba(251, 249, 226, 1);
	--beige-light: rgba(254, 253, 232, 1);
	--gradient-top: linear-gradient(0deg, #181818ff, #A3622Fff, #2692FEff, #FA9C7Dff, #FBEBCAff);
	--gradient-right: linear-gradient(90deg, #181818ff, #A3622Fff, #2692FEff, #FA9C7Dff, #FBEBCAff);
	--gradient-bottom: linear-gradient(180deg, #181818ff, #A3622Fff, #2692FEff, #FA9C7Dff, #FBEBCAff);
	--gradient-left: linear-gradient(270deg, #181818ff, #A3622Fff, #2692FEff, #FA9C7Dff, #FBEBCAff);
	--gradient-top-right: linear-gradient(45deg, #181818ff, #A3622Fff, #2692FEff, #FA9C7Dff, #FBEBCAff);
	--gradient-bottom-right: linear-gradient(135deg, #181818ff, #A3622Fff, #2692FEff, #FA9C7Dff, #FBEBCAff);
	--gradient-top-left: linear-gradient(225deg, #181818ff, #A3622Fff, #2692FEff, #FA9C7Dff, #FBEBCAff);
	--gradient-bottom-left: linear-gradient(315deg, #181818ff, #A3622Fff, #2692FEff, #FA9C7Dff, #FBEBCAff);
	--gradient-radial: radial-gradient(#181818ff, #A3622Fff, #2692FEff, #FA9C7Dff, #FBEBCAff);

	/* Lightmode (default) */
	--clr-light: rgb(255, 255, 255);
	--clr-text: rgb(0, 0, 0);
	--clr-lessweaktext: rgb(56, 41, 26);
	--clr-weaktext: rgb(48, 66, 76);
	--clr-weakertext: rgb(160,160,160);
	--clr-transparent: rgba(0.0, 0.0 , 0.0, 0.0);

	/* Darkmode */
	--clr-dark: rgb(33,33,33);
	--clr-text-darkmode: var(--beige-light);
	--clr-blog-darkmode: rgb(215,215,215);

	/* Button theme from Bootstrap */
	--clr-button-primary: rgb(13,110,253);
	--clr-button-alt-1: #0b5ed7;
	--clr-button-alt-2: #0a58ca;
	--clr-button-alt-3: #0a53be;
	--clr-button-shadow: rgba(49,132,253,.5);

	/* Old xsl theme */
	--clr-theme-1: rgb(244, 151, 108);

	--clr-nav-front: var(--clr-transparent);
	--clr-nav-productpage-bg: rgba(240, 240, 240, 0.85);

	--clr-nav-shop-bg: rgba(0, 0, 0, 0.5);
	--clr-nav-shop: rgb(255, 255, 255);

	--clr-scroll-arrow: rgba(255, 255, 255, 0.7);
	--clr-scroll-arrow-hover: rgba(255, 255, 255, 1);
}
body.light {
	color-scheme: light;
	color: var(--eerie-black);
	background-color: var(--clr-light);
}
.link {
	color: var(--clr-text);
}
body.dark {
	color-scheme: dark;
	background-color: var(--clr-dark);
	color: var(--clr-text-darkmode);
}
body.dark h1, body.dark h2, body.dark h3 {
	color: var(--clr-text-darkmode);
}
body.dark img:not(.already-dark), body.dark video {
	filter: grayscale(30%);
}
body.light img.already-dark{
	filter: brightness(1.3);
}

/* Font stuff */
@font-face {
	font-family: open-sans;
	src: url(/fonts/OpenSansRegular.woff);
	font-display: swap;
}
@font-face {
	font-family: open-sans;
	font-style: italic;
	font-weight: normal;
	src: url(/fonts/OpenSansItalic.woff);
	font-display: swap;
}
@font-face {
	font-family: open-sans;
	font-style: normal;
	font-weight: bold;
	src: url(/fonts/OpenSansBold.woff);
	font-display: swap;
}
@font-face {
	font-family: open-sans;
	font-style: italic;
	font-weight: bold;
	src: url("/fonts/OpenSansBoldItalic.woff");
	font-display: swap;
}
body {
	font-family: open-sans;
}
code {
	font-family: monospace;
	overflow-wrap: break-word;
}

/* Very general stuff */
html {
	scroll-behavior: smooth;
	padding-bottom: 100px;
}
body {
	margin-top: 0;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

h2, h3, p, form, .buy-button {
	padding-left: 10px;
	padding-right: 10px;
}

button,
input,
textarea,
select {
	font: inherit;
}

h1, h2, h3, h4 {
	font-weight:normal;
}
h4 {
 	font-style:italic;
}


img, svg {
	vertical-align: middle;
	align-self: center;
}

nav {
	width: 100%;
	padding: 0;
	z-index: 1000;
}

nav ul {
	display: flex;
	list-style:none;
	padding:0;
	justify-content: center;
	margin-top: 0;
}

nav a {
	display: flex;
	padding: 14px;
	text-decoration: none;
	min-height: 56.8px;
}

@media (hover: hover) {
	nav a:hover {
		color: var(--clr-weakertext);
		fill: var(--clr-weakertext);
	}
	link:hover, nav .link:hover {
		color: var(--clr-weakertext);
		fill: var(--clr-weakertext);
	}
}

nav ul li.navbar-left {
	position: absolute;
	left: 0;
}

nav ul li.navbar-right {
	position: absolute;
	right: 0;
}

.links-container {
	margin:0rem 2rem 0rem 2rem;
	display:flex;
	font-size:2.1875rem;
	justify-content:space-between;
}

.shopping-cart-icon svg {
	border-radius: 0px;
	width: 1.3125rem;
	margin-right: 0.2rem;
	padding-top: 0;
	padding-bottom: 0;
}

.cart-item-count {
	vertical-align: middle;
}

body, nav ul li a {
	line-height: 1.5;
	font-size: clamp(0.85rem, 1.75vw + 0.5rem, 1.15rem);
}

nav {
	position: relative;
	min-height: 56.8px;
}

nav li > * {
	min-height: 56.8px;
	align-items: center;
}

.link {
	background: none;
	border: none;
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	padding: 14px;
	width: inherit;
}

nav .navbar-right .my-dropdown-menu .link {
	text-align: left;
}

.my-dropdown-menu {
	position: absolute;
	left: calc(12ch + 50vw - min(65ch, 100vw) / 2);
	height: 101vh;
	height: 101lvh;
	width: 0;
	padding: 0;
	margin: 0;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity 200ms ease-in-out,
	            transform 200ms ease-in-out,
	            width 200ms cubic-bezier(1, 0.01, 1, 0.01),
	            visibility 200ms ease-in-out;
}


nav .navbar-right .my-dropdown > .link {
	width: 100%;
	text-align: right;
	min-height: 56.8px;
}


.sticky:not(.shopfront-nav) .my-dropdown.active > .link + .my-dropdown-menu {
	/* 65ch and 100vw comes from min(65ch, 100%)
	 * See shop_style.css nav width and other stylesheets' body width */
	width: calc(12ch + 50vw - min(65ch, 100vw) / 2);
	transform: translateX(calc(-16ch - 50vw + min(65ch, 100vw) / 2));
	transition: opacity 200ms ease-in-out,
	            transform 200ms ease-in-out,
	            visibility 200ms ease-in-out;
	opacity: 0.95;
	pointer-events: auto;
	visibility: visible;
}

.sticky.shopfront-nav .my-dropdown.active > .link + .my-dropdown-menu {
	/* 65ch and 100vw comes from min(65ch, 100%)
	 * See shop_style.css nav width and other stylesheets' body width */
	width: calc(12ch + 50vw - min(65ch, 100vw) / 2);
	transform: translateX(calc(-16ch - 50vw + min(65ch, 100vw) / 2));
	transition: opacity 200ms ease-in-out,
	            transform 200ms ease-in-out,
	            visibility 200ms ease-in-out;
	opacity: 1.0;
	pointer-events: auto;
	visibility: visible;
}

.sticky {
	position: sticky;
	top: -57px;
	z-index: 3;
}

/* Colors */
/* First load default light colors */
body.light p, body.light form, body.light ul {
	color: var(--clr-weaktext);
}
.sticky:not(.shopfront-nav) nav {
	background-color:  var(--clr-nav-front);
}
nav a, nav .link {
	color: var(--clr-weaktext);
	fill: var(--clr-weaktext);
}
body.light .sticky:not(.shopfront-nav) .my-dropdown-menu {
	background-color: var(--clr-light);
}
body.dark nav a, body.dark nav .link {
	color: var(--clr-text-darkmode);
	fill: var(--clr-text-darkmode);
}
body.dark .sticky:not(.shopfront-nav) .my-dropdown-menu {
	background-color: var(--clr-dark);
}
body.dark #github {
	filter: invert(1);
}
