body {
	overflow-x: hidden;
	width: min(65ch, 100%);
	margin-inline: auto;
}

main {
	padding-left: calc(calc(min(65ch, 100% - 4rem) - 400px)/2);
	padding-right: calc(calc(min(65ch, 100% - 4rem) - 400px)/2);
	margin: auto;
}

h2, h3, p, form {
	padding-left: 10px;
	padding-right: 10px;
}

h2, h3 {
	font-weight: bold;
}

p, form, ul {
	color: var(--clr-weaktext);
}

body.dark p, body.dark form, body.dark ul {
	color: var(--clr-text-darkmode);
}

ul {
	padding-left: 40px;
}

img,
svg,
video {
	max-width: 100%;
	display: block;
	width: auto;
	height: auto;
	padding-top: min(16px, 0.5vw);
	padding-bottom: min(16px, 0.5vw);
}

.img_wrapper {
	position: relative;
	container-type: inline-size;
	margin-top: 38px;
}

.img_wrapper > picture {
	display: block;
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: center;
}

/*
body .img_wrapper > h1 {
	font-size: 33cqw;
	line-height: 1.0;
	overflow-wrap: anywhere;
	position: absolute;
	z-index: 1;
	font-weight: bold;
	left: clamp(3%, 1% + 1vw, 10%);
	right: clamp(3%, 1% + 1vw, 10%);
	top: 0%;
	color: black;
	margin-top: 0;
	margin-bottom: 0;
	mix-blend-mode: overlay;
	text-align-last: center;
}
*/

/*
body .img_wrapper > h1 {
	  font-size: 15cqw;
	  line-height: 1.2;
	  overflow-wrap: anywhere;
	  position: absolute;
	  z-index: 1;
	  left: clamp(4%, 1% + 1vw, 10%);
	  right: clamp(4%, 1% + 1vw, 10%);
	  top: 55%;
	  color: black;
	  margin-top: 0;
	  margin-bottom: 0;
	  text-align-last: center;
}
*/
/*
body.dark .img_wrapper > h1 {
	  font-size: clamp(12ch, 8ch + 4vw, 13ch);
	  line-height: 1.1;
	  overflow-wrap: anywhere;
	  position: absolute;
	  z-index: 1;
	  font-weight: bold;
	  left: clamp(3%, 1% + 1vw, 10%);
	  right: clamp(3%, 1% + 1vw, 10%);
	  top: 0%;
	  color: #ff0000;
	  margin-top: 0;
	  margin-bottom: 0;
	  mix-blend-mode: difference;
}
*/
/*
body .img_wrapper > h1 {
	  font-size: 15cqw;
	  line-height: 4.5;
	  position: absolute;
	  z-index: 1;
	  left: clamp(4%, 1% + 1vw, 10%);
	  right: clamp(4%, 1% + 1vw, 10%);
	  top: -11%;
	  color: black;
	  margin-top: 0;
	  margin-bottom: 0;
	  text-align-last: center;
}
*/
/*
body .img_wrapper > h1 {
	  font-size: 11cqw;
	  line-height: 1;
	  position: absolute;
	  z-index: 1;
	  font-weight: bold;
	  left: clamp(4%, 1% + 1vw, 10%);
	  right: clamp(4%, 1% + 1vw, 10%);
	  top: 58%;
	  color: rgb(255 76 76 / 61%);
	  margin-top: 0;
	  margin-bottom: 0;
	  mix-blend-mode: revert;
	  text-align-last: center;
	  -webkit-text-stroke-width: thin;
	  -webkit-text-stroke-color: black;
}
*/
body .img_wrapper > h1 {
	font-size: 36.2cqw;
	overflow-wrap: break-word;
	line-height: 0.91;
	position: absolute;
	z-index: 1;
	font-weight: bold;
	left: 0;
	right: 0%;
	top: 0%;
	margin-top: 0;
	margin-bottom: 0;
	text-align-last: right;
}

body .img_wrapper > h2 {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	font-weight: bold;
	visibility: hidden;
	pointer-events: none;
	font-size: 11cqw;
}

body.dark .img_wrapper > h2, body.dark .img_wrapper > h1 {
	mix-blend-mode: difference;
	color: #ff0000;
}

body.dark .img_wrapper > h2.complement_clr, body.dark .img_wrapper > h1.complement_clr {
	mix-blend-mode: difference;
	color: #07bb92;
}

body.light .img_wrapper > h2, body.light .img_wrapper > h1 {
	color: var(--clr-light);
	/*color: #ffffff;*/
	/*color: #ffdcc4;*/
}

body.light .img_wrapper > h2.complement_clr, body.light .img_wrapper > h1.complement_clr {
	color: var(--clr-light);
	/*color: #707070;*/
	/*color: #e7e7e7*/
}

/*
body.light .img_wrapper > h2.complement_clr, body.light .img_wrapper > h1.complement_clr {
	  color: #ffffff;
	  -webkit-text-stroke-width: unset;
	  -webkit-text-stroke-color: rgba(0,0,0,1.0);
}
body.light .img_wrapper > h2, body.light .img_wrapper > h1 {
	  mix-blend-mode: overlay;
	  -webkit-text-stroke-width: thin;
}
*/

.image-link-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.overlay-row-top {
  width: 100%;
  height: 25%;
}
.overlay-row-bottom {
  width: 100%;
  height: 75%;
}


body .img_wrapper2 {
	  position: absolute;
	  z-index: 1;
	  margin-top: 15%;
	  margin-left: 4%;
}

body .img_wrapper2 ul, body .img_wrapper2 h3  {
	line-height: 1.9;
}

body.light .img_wrapper2 ul, body.light .img_wrapper2 h3 {
	color: var(--clr-dark);
}

body .img_wrapper2 ul {
	font-size: 4.2cqw;
}

body .img_wrapper2 h3 {
	font-size: 7.2cqw;
}

.img_wrapper h1 a {
	text-decoration: none;
	color: inherit;
}


form {
	width: 100%;
	max-width: 100%;
	margin-top: 3px;
}

label {
	display: inline-block;
	margin-top: 7px;
	margin-bottom: 3px;
}

.form-control {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	background-clip: padding-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea.form-control {
	min-height: calc(1.5em + .75rem + 2px);
}

.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
	color: var(--clr-light);
	background-color: var(--clr-button-primary);
	border-color: var(--clr-button-primary);
}

@media (hover: hover) {
	.btn-primary:hover {
		  color: var(--clr-light);
		  background-color: var(--clr-button-alt-1);
		  border-color:  var(--clr-button-alt-2);
	}
}

.btn-primary:active {
	  color: var(--clr-light);
	  background-color: var(--clr-button-alt-2);
	  border-color: var(--clr-button-alt-3);
}

.btn-primary:focus {
	  color: var(--clr-light);
	  background-color: var(--clr-button-alt-1);
	  border-color: var(--clr-button-alt-2);
	  box-shadow: 0 0 0 .25rem var(--clr-button-shadow);
}

[type="button"], [type="reset"], [type="submit"], button {
	-webkit-appearance: button;
}

button, select {
	text-transform: none;
}

button:not(.link) {
	margin: 9px 0 0 0;
}

