html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	width: min(65ch, 100%);
	margin-inline: auto;
}

main {
	/*text-align: center;*/
	padding-left: calc(calc(min(65ch, 100% - 4rem) - 400px)/2);
	padding-right: calc(calc(min(65ch, 100% - 4rem) - 400px)/2);
	margin: auto;
}

h2, h3, p, ul, form {
	padding-left: 10px;
	padding-right: 10px;
}

body, nav ul li a {
	line-height: 1.5;
	font-size: clamp(0.9rem, 2vw + 0.5rem, 1.2rem);
}

img,
svg,
video {
	max-width: 100%;
	display: block;
	width: auto;
	height: auto;
	padding-top: min(16px, 0.5vw);
	padding-bottom: min(16px, 0.5vw);
}

nav.frontpage-nav {
	background-color: rgba(0.0, 0, 0, 0.0);
	position: relative;
}

nav.frontpage-nav a {
	color: black;
}

.link {
	background: none;
	border: none;
	text-decoration: none;
	color: black;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	padding: 14px;
}

.my-dropdown {
	position: relative;
	right: 0;
	text-align: right;
}

.my-dropdown-menu {
	height: 100lvh;
	height: 100vh;
	width: 0;
	padding: 0;
	margin: 0;
	right: 0;
	background-color: white;
	border-radius: .25rem;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transform: translateX(100%);
	transition: opacity 200ms ease-in-out,
	            transform 200ms ease-in-out,
	            width 200ms cubic-bezier(1, 0.01, 1, 0.01),
	            visibility 200ms ease-in-out;
}

nav ul li a {
	justify-content: left;
}

.my-dropdown.active > .link + .my-dropdown-menu {
	width: 200px;
	transform: translateX(calc(100% - 12ch));
	transition: opacity 200ms ease-in-out,
	            transform 200ms ease-in-out,
	            visibility 200ms ease-in-out;
	opacity: 0.95;
	pointer-events: auto;
	visibility: visible;
}

.sticky {
	position: sticky;
	top: -51px;
}

nav.frontpage-nav {
	min-height: 51px;
}

.title {
	text-align: center;
}

form {
	width: 100%;
	max-width: 100%;
	margin-top: 10px;
}

.form-label {
	margin-bottom: .5rem;
}

label {
	display: inline-block;
}

.form-control {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	background-clip: padding-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea.form-control {
	min-height: calc(1.5em + .75rem + 2px);
}

.btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
}

.btn-primary:hover {
	  color: #fff;
	  background-color: #0b5ed7;
	  border-color: #0a58ca;
}

.btn-primary:active {
	  color: #fff;
	  background-color: #0a58ca;
	  border-color: #0a53be;
}

.btn-primary:focus {
	  color: #fff;
	  background-color: #0b5ed7;
	  border-color: #0a58ca;
	  box-shadow: 0 0 0 .25rem rgba(49,132,253,.5);
}

[type="button"], [type="reset"], [type="submit"], button {
	-webkit-appearance: button;
}

button, select {
	text-transform: none;
}

button:not(.link) {
	margin: 9px 0 0 0;
}

@media (prefers-color-scheme: dark) {
	nav.frontpage-nav a, .link {
	  color: white;
	}

	.my-dropdown-menu {
		background-color: rgb(18,18,18);
	}

	#github {
	  filter: invert(1);
	}
}

