/* Section: General shop stuff */
html {
	padding-bottom: 0px;
}

body {
	margin:0;
	color: var(--clr-weaktext);
	overflow-x: hidden;
}

nav {
	width: min(65ch, 100%);
	margin-inline: auto;
}

.sticky.shopfront-nav {
	background-color: var(--clr-nav-shop-bg);
}

.shopfront-nav .my-dropdown.active > .link + .my-dropdown-menu {
	background-color: var(--clr-nav-shop-bg);
}

.full-screen-background {
	position: relative;
	min-height: 100vh;
	min-height: 100lvh;
	background-size: cover;
	height: 100%;
}

#background-1 {
	background-image: url('/shop/media/Heart_of_the_Ocean_1000x1000.png');
	background-image: -webkit-image-set(
		url("/shop/media/Heart_of_the_Ocean_1000x1000.avif"),
		url("/shop/media/Heart_of_the_Ocean_1000x1000.png")
	);
	background-image: image-set(
		url("/shop/media/Heart_of_the_Ocean_1000x1000.avif") type("image/avif"),
		url("/shop/media/Heart_of_the_Ocean_1000x1000.png") type("image/png")
	);
	background-position: 74% 70%;
	--image-width: 1000;
	--image-height: 1000;
	--highlight-width-ratio: 0.42;
	--highlight-height-ratio: 0.19;
	--highlight-left-position-ratio: 0.43;
	--highlight-top-position-ratio: 0.55;
}

#background-2 {
	background-image: url('/shop/media/art2_cropped.jpg');
	background-image: -webkit-image-set(
		url("/shop/media/art2_cropped.avif"),
		url("/shop/media/art2_cropped.jpg")
	);
	background-image: image-set(
		url("/shop/media/art2_cropped.avif") type("image/avif"),
		url("/shop/media/art2_cropped.jpg") type("image/jpg")
	);
	background-position: 50% 50%;
	--image-width: 2047;
	--image-height: 1177;
	--highlight-width-ratio: 0.23;
	--highlight-height-ratio: 0.22;
	--highlight-left-position-ratio: 0.40;
	--highlight-top-position-ratio: 0.40;
	/* The uncropped art2.jpg wants this */
	/*--highlight-height-ratio: 0.12;
	--highlight-left-position-ratio: 0.395;
	--highlight-top-position-ratio: 0.37;*/
}

.text-with-shadow {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.5);
}

.text-with-background {
	display: inline-block;
	padding: 0.25em 0.5em;
	background-color: var(--clr-nav-shop-bg);
	color: var(--clr-nav-shop);
}

.dotted-line {
	position: absolute;
	border: 0;
	/*
	border-top: 4px dotted grey;
	border-left: 4px dotted grey;
	border-bottom: 4px dotted grey;
	border-right: 4px dotted grey;
	border-radius: 5rem;
	*/
}

.positioned-content {
	position: absolute;
	color: var(--clr-nav-shop);
}

.centered-content {
	text-align: center;
	color: var(--clr-nav-shop);
}

@media screen and (min-width: 38.750em) {
	.top-left {
		top: 10%;
		left: 10%;
	}

	.top-right {
		top: 10%;
		right: 10%;
	}

	.bottom-left {
		bottom: 10%;
		left: 10%;
	}

	.bottom-right {
		bottom: 10%;
		right: 10%;
	}
}

@media screen and (max-width: 38.6875em) {
	.top-left {
		top: 10%;
		left: 50%;
		transform: translateX(-50%);
	}
	.top-right {
		top: 10%;
		right: 50%;
		transform: translateX(-50%);
	}

	.bottom-left {
		bottom: 10%;
		left: 50%;
		transform: translateX(-50%);
	}

	.bottom-right {
		bottom: 10%;
		right: 50%;
		transform: translateX(50%);
	}
}

.text-below-line {
	position: absolute;
	color: var(--clr-nav-shop);
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
	max-width: 100%;
	min-width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	visibility: hidden;
}

@media screen and (min-width: 56.25em) {
	.text-below-line {
		font-size: 1.875rem;
	}
}

@media screen and (max-width: 56.1875em) {
	.text-below-line {
		font-size: 1.5625rem;
	}
}

@media screen and (max-width: 31.25em) {
	.text-below-line {
		font-size: 1.25rem;
	}
}

@media screen and (max-width: 29.6875em) {
	.text-below-line {
		left: 50%;
		transform: translateX(-50%);
	}
}

/* Change the color and weight of links on hover */
a .text-below-line:hover {
	color: var(--clr-weakertext);
}

.text-below-line-hover {
	color: var(--clr-weakertext);
}

.scroll-arrow {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2em;
	text-decoration: none;
	color: var(--clr-scroll-arrow);
	mix-blend-mode: difference;
	cursor: pointer;
	animation: arrow-float 2s infinite;
	z-index: 100;
}

.scroll-arrow:hover {
	color: var(--clr-scroll-arrow-hover);
}

.scroll-down-arrow {
	bottom: 80px;
}

.scroll-up-arrow {
	top: 100px;
}

@keyframes arrow-float {
	0%, 100% {
		transform: translateY(0) translateX(-50%);
	}
	50% {
		transform: translateY(-10px) translateX(-50%);
	}
}

/* Section: Product page stuff */
.carousel-image-container {
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	position: relative;
}

.carousel-image-container img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 0;
}

.carousel-thumbnails {
	margin-top: .25rem; /* Space above thumbnails */
	padding: 0;
}

.carousel-thumbnails img {
	width: 100%;
	height: 60%;
	object-fit: cover;
	cursor: pointer;
	border-radius: 0;
	transition: transform .1s;
}

.carousel-thumbnails img:hover {
	transform: scale(1.04); /* Slightly larger on hover */
}

@media (pointer: coarse) and (hover: none) {
	.carousel-item {
		will-change: opacity;
	}
}

.zoomable-image:hover {
	cursor: zoom-in;
}

.product-name-right-column {
	margin-bottom: 20px;
	text-align: left;
	font-size: 1.18rem;
}

.product-name-top {
	margin-bottom: 20px;
	text-align: center;
	font-size: 1.18rem;
}

.product-description {
	font-size: 0.95rem;
	line-height: 1.55rem;
}


.shopfront-nav a, .shopfront-nav .link {
	color: var(--clr-light);
	fill: var(--clr-light);
}

@media (hover: hover) {
	.shopfront-nav a:hover, .shopfront-nav .link:hover {
		color: var(--clr-weakertext);
		fill: var(--clr-weakertext);
	}
}

nav.light ul li {
	order: 1;
}

nav.light ul li:last-child {
	order: 0;
}

nav.light ul li a {
	justify-content: center;
}

nav.light ul {
	justify-content: center;
}

nav ul li a {
	fill: var(--clr-nav-shop);
}

nav ul li a:hover {
	fill: var(--clr-weakertext);
}
