/* Section: General shop stuff */
html {
	padding-bottom: 0px;
	scroll-behavior: smooth;
}

body {
	margin:0;
	color: var(--clr-weaktext);
}

nav ul {
	margin-bottom: 0;
}

nav {
	position: relative;
	margin-bottom: -56.8px;
}


.shopfront-nav {
	background-color: var(--clr-nav-shop-bg);
}

.shopfront-nav .my-dropdown-menu {
	background-color: var(--clr-nav-shop-bg);
}

.full-screen-background {
	position: relative;
	min-height: 100vh;
	min-height: 100lvh;
	background-size: cover;
	height: 100%;
}

.gap-bottom {
	margin-bottom: 0.25rem;
}

#background-1 {
	display: grid;
	gap: 0.25rem;
	grid-template-columns: 1fr 1fr 1fr;
	min-height: 40vh;
	min-height: 40lvh;
	background-position: 50% 50%;
	--image-width: 1449;
	--image-height: 969;
	--highlight-width-ratio: 0.90;
	--highlight-height-ratio: 0.375;
	--highlight-left-position-ratio: 0.05;
	--highlight-top-position-ratio: 0.1;
}

#background-1 img {
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
}

@media screen and (max-width: 450px) {
	#background-1 {
		grid-template-columns: 1fr 1fr;
		margin-bottom: 0;
	}
	#background-1 .maybe-two-columns {
	  grid-column: span 2;
	}
	#background-1 .maybe-two-columns img {
		aspect-ratio: 1.4;
	}
	#background-1 .maybe-invisible {
		display: none;
	}
}


/*
#background-2 {
	display: grid;
	gap: 0.25rem;
	margin-bottom: 0.25rem;
	grid-template-columns: 1fr 1fr 1fr;
	min-height: 40vh;
	min-height: 40lvh;
	background-position: 50% 50%;
	--image-width: 1449;
	--image-height: 969;
	--highlight-width-ratio: 0.90;
	--highlight-height-ratio: 0.375;
	--highlight-left-position-ratio: 0.05;
	--highlight-top-position-ratio: 0.1;
}

#background-2 img {
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
}

@media (width < 450px) {
	#background-2 {
		grid-template-columns: 1fr 1fr;
		margin-bottom: 0;
	}
	#background-2 .maybe-two-columns {
	  grid-column: span 2;
	}
	#background-2 .maybe-two-columns img {
		aspect-ratio: 1.4;
	}
	#background-2 .maybe-invisible {
		display: none;
	}
}
*/

#background-2 {
	background-image: url('/shop/media/Disaster_under_Water_back_medium.JPG');
	background-image: -webkit-image-set(
		url("/shop/media/Disaster_under_Water_back_medium.avif"),
		url("/shop/media/Disaster_under_Water_back_medium.JPG")
	);
	background-image: image-set(
		url("/shop/media/Disaster_under_Water_back_medium.avif") type("image/avif"),
		url("/shop/media/Disaster_under_Water_back_medium.JPG") type("image/png")
	);
	background-position: 74% 7%;
	--image-width: 1000;
	--image-height: 1000;
	--highlight-width-ratio: 1.26;
	--highlight-height-ratio: 0.31;
	--highlight-left-position-ratio: 0.05;
	--highlight-top-position-ratio: 0.05;
}

#background-3 {
	background-image: url('/shop/media/Corals_2_and_1_medium.JPG');
	background-image: -webkit-image-set(
		url("/shop/media/Corals_2_and_1_medium.avif"),
		url("/shop/media/Corals_2_and_1_medium.JPG")
	);
	background-image: image-set(
		url("/shop/media/Corals_2_and_1_medium.avif") type("image/avif"),
		url("/shop/media/Corals_2_and_1_medium.JPG") type("image/png")
	);
	background-position: 74% 7%;
	--image-width: 1000;
	--image-height: 1000;
	--highlight-width-ratio: 1.26;
	--highlight-height-ratio: 0.31;
	--highlight-left-position-ratio: 0.05;
	--highlight-top-position-ratio: 0.05;
}

#background-4 {
	background-image: url('/shop/media/Heart_of_the_Ocean_1000x1000.png');
	background-image: -webkit-image-set(
		url("/shop/media/Heart_of_the_Ocean_1000x1000.avif"),
		url("/shop/media/Heart_of_the_Ocean_1000x1000.png")
	);
	background-image: image-set(
		url("/shop/media/Heart_of_the_Ocean_1000x1000.avif") type("image/avif"),
		url("/shop/media/Heart_of_the_Ocean_1000x1000.png") type("image/png")
	);
	background-position: 74% 70%;
	--image-width: 1000;
	--image-height: 1000;
	--highlight-width-ratio: 0.42;
	--highlight-height-ratio: 0.19;
	--highlight-left-position-ratio: 0.43;
	--highlight-top-position-ratio: 0.55;
}

.text-with-shadow {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(255, 255, 255, 0.5);
}

.text-with-background {
	display: inline-block;
	padding: 0.25em 0.5em;
	background-color: var(--clr-nav-shop-bg);
	color: var(--clr-nav-shop);
}

.dotted-line {
	position: absolute;
	border: 0;
	/*
	border-top: 4px dotted grey;
	border-left: 4px dotted grey;
	border-bottom: 4px dotted grey;
	border-right: 4px dotted grey;
	border-radius: 5rem;
	*/
}

.positioned-content {
	position: absolute;
	color: var(--clr-nav-shop);
}

.centered-content {
	text-align: center;
	color: var(--clr-nav-shop);
}

@media screen and (min-width: 38.750em) {
	.top-left {
		top: 10%;
		left: 10%;
	}

	.middle-left {
		top: 40%;
		left: 10%;
	}

	.top-right {
		top: 10%;
		right: 10%;
	}

	.bottom-left {
		bottom: 10%;
		left: 10%;
	}

	.bottom-right {
		bottom: 10%;
		right: 10%;
	}
}

@media screen and (max-width: 38.6875em) {
	.top-left {
		top: 10%;
		left: 50%;
		transform: translateX(-50%);
	}
	.middle-left {
		top: 40%;
		left: 50%;
		transform: translateX(-50%);
	}
	.top-right {
		top: 10%;
		right: 50%;
		transform: translateX(-50%);
	}

	.bottom-left {
		bottom: 10%;
		left: 50%;
		transform: translateX(-50%);
	}

	.bottom-right {
		bottom: 10%;
		right: 50%;
		transform: translateX(50%);
	}
}

.text-below-line {
	position: absolute;
	color: var(--clr-nav-shop);
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
	max-width: 100%;
	min-width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	visibility: hidden;
}

@media screen and (min-width: 56.25em) {
	.text-below-line {
		font-size: 1.875rem;
	}
}

@media screen and (max-width: 56.1875em) {
	.text-below-line {
		font-size: 1.5625rem;
	}
}

@media screen and (max-width: 31.25em) {
	.text-below-line {
		font-size: 1.25rem;
	}
}

@media screen and (max-width: 29.6875em) {
	.text-below-line {
		left: 50%;
		transform: translateX(-50%);
	}
}

/* Change the color and weight of links on hover */
@media (hover: hover) {
	a .text-below-line:hover {
		color: var(--clr-weakertext);
	}
	.text-below-line-hover {
		color: var(--clr-weakertext);
	}
}

.scroll-arrow {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2em;
	text-decoration: none;
	color: var(--clr-scroll-arrow);
	mix-blend-mode: difference;
	cursor: pointer;
	animation: arrow-float 2s infinite;
	z-index: 10;
}

@media (hover: hover) {
	.scroll-arrow:hover {
		color: var(--clr-scroll-arrow-hover);
	}
}

.scroll-down-arrow {
	bottom: 80px;
}

.scroll-up-arrow {
	top: 100px;
}

@keyframes arrow-float {
	0%, 100% {
		transform: translateY(0) translateX(-50%);
	}
	50% {
		transform: translateY(-10px) translateX(-50%);
	}
}

.shopfront-nav a, .shopfront-nav .link {
	color: var(--clr-light);
	fill: var(--clr-light);
}

@media (hover: hover) {
	.shopfront-nav a:hover, .shopfront-nav .link:hover {
		color: var(--clr-weakertext);
		fill: var(--clr-weakertext);
	}
}
