h1 {
	font-size:1.375rem;
}
h1 {
	margin-bottom: 0px;
}
h3 {
	margin-top:40px;
}
h4 {
	margin-top:10px;
	margin-bottom:2px;
}
.date {
	color: var(--clr-weakertext);
	line-height: 100%;
	margin-bottom: 10px;
}
#SiteName {
	position:relative;
	text-align:left;
	margin: 0 auto;
	top:10px;
	line-height:1;
	width:600px;
	max-width:93%;
	height:auto;
	z-index:1;
	font-size:1.8125rem;
}
#MainContent {
	position:relative;
	top:15px;
	max-width:93%;
	width:600px;
	margin:0px auto;
	z-index:2;
	font-size:0.9375rem;
	line-height:150%;
  overflow-wrap: anywhere;
}

body.light #MainContent {
	color:var(--clr-weaktext);
}
body.dark #MainContent {
	color:var(--clr-blog-darkmode);
}

@media screen and (max-height: 47.5em) {
	#MainContent.notop {
		top:0px;
	}
	#MainContent.notop2 {
		top:30px;
	}
}
img{
	height:auto;
	max-width:100%;
	border-radius:4px;
}
video {
	height:auto;
	max-width:100%;
	border-radius:4px;
}
figure{
	max-width:100%;
	max-height: 100%;
	margin-top:30px;
	margin-bottom:30px;
	margin-left: clamp(0rem, 4vw - 1rem, 2.2rem);
	margin-right: clamp(0rem, 4vw - 1rem, 2.2rem);
	text-align: center;
}
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	width:500px;
	max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius:4px;
}
.about-image {
	display:flex;
	align-items: center;
	width:500px;
	max-width:90%;
	height:auto;
	border-radius:25px;
	margin-left:auto;
	margin-right:auto;
}
table {
	border-spacing:0px 50px;
}
td a{
	text-decoration:none;
}
@media screen and (max-width: 26.875em) {
	td {
		display:block;
	}
}
@media screen and (min-width: 26.9375em) {
	.center-if-wide {
		text-align:center;
	}
	.right-if-wide {
		text-align:right;
	}
}
